@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@200&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Arabic', Tahoma;
}

html body {
    background-color: #009CFC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-box {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 25px;
    width: 300px;
    margin: 200px auto;
    border-radius: 20px;
}

.container-box textarea {
    border-radius: 20px;
    padding: 20px;
    width: 100%;
}

.container-box .btn {
    margin-top: 20px;
    padding: 10px 30px;
    width: 100%;
    background-color: #2d3436;
    color: #fff;
}


.container-box .btn:hover{
    background-color: #636e72;
    color: #fff;
}